@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #FF7B5A;
  background: #FFBFAA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  @apply w-[15rem] h-[3rem] px-6 py-3 bg-[#FF7B5A] text-white text-lg text-3xl tracking-widest rounded-full shadow-lg hover:bg-orange-500 transition;
}
